<div class="sportsmagazine-main-wrapper">

    <app-front-header></app-front-header>

    <!--// SubHeader \\-->
    <div class="sportsmagazine-subheader">
        <span class="subheader-transparent"></span>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Stats</h1>
                </div>
            </div>
        </div>
    </div>
    <!--// SubHeader \\-->

    <!--// Main Content \\-->
    <div class="sportsmagazine-main-content">

        <div class="container">

            <div style="display: flex; justify-content: space-between;">
                <div class="card-dash">
                    <app-card-dashboard [data]="bets"></app-card-dashboard>
                </div>
                <div class="card-dash">
                    <app-card-dashboard [data]="profit"></app-card-dashboard>
                </div>
            </div>

            <br>
            <div style="display: flex; justify-content: space-between;">
                <app-area-chart *ngIf="gamesPerM && gamesPerM.length" [data]="gamesPerM"></app-area-chart>
                <app-radar-chart *ngIf="gamblerByAge" [data]="gamblerByAge"></app-radar-chart>
            </div>

            <br>
            <div style="display: flex; justify-content: space-between;">
                <div class="search-engine-int sm-res-mg-t-30 tb-res-mg-t-30 tb-res-ds-n dk-res-ds" style="width: 50%;">
                    <div class="contact-hd search-hd-eg">
                        <h2>Wins</h2>
                    </div>
                    <div class="search-eg-table">
                        <table class="table">
                            <thead class="theader">
                                <tr>
                                    <th>Your team</th>
                                    <th class="text-right">Money</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of wins; let i = index;">
                                    <td>{{ item.T1 }}</td>
                                    <td class="text-right">
                                        <h4>{{ item.TOTAL.toFixed(2) }}$</h4>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div style="width: 10em;"></div>
                <div class="search-engine-int sm-res-mg-t-30 tb-res-mg-t-30 tb-res-ds-n dk-res-ds" style="width: 50%;">
                    <div class="contact-hd search-hd-eg">
                        <h2>Loss</h2>
                    </div>
                    <div class="search-eg-table">
                        <table class="table">
                            <thead class="theader">
                                <tr>
                                    <th>Your team</th>
                                    <th class="text-right">Money</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of loss; let i = index;">
                                    <td>{{ item.T1 }}</td>
                                    <td class="text-right">
                                        <h4>{{ item.TOTAL.toFixed(2) }}$</h4>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--// Main Content \\-->

    <app-front-footer></app-front-footer>
    <div class="clearfix"></div>
</div>

<app-search-modal></app-search-modal>

<app-login-modal></app-login-modal>

<app-register-modal></app-register-modal>

<app-loader *ngIf="loading"></app-loader>

<app-forget-modal></app-forget-modal>

<app-reset-modal></app-reset-modal>

<app-user-profil-modal></app-user-profil-modal>

<app-buy-token></app-buy-token>