<!-- SignupModal -->
<div class="loginmodal modal fade" id="signupModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="sportsmagazine-login-box">
            <a  [routerLink]="['./']" fragment="" data-dismiss="modal" class="close-modal sportsmagazine-login-close sportsmagazine-color"><i class="fa fa-dollar"></i></a>
            <h4>Sign Up Now</h4>
            <form>
                <input type="text"  [(ngModel)]="registerBody.name" [ngModelOptions]="{standalone: true}" placeholder="Enter your name*">
                
                <div style="margin: 1em 0;">
                    <p style="float: left; width: max-content; margin-right: 1em;">Birth Date: </p><input type="date"  [(ngModel)]="registerBody.birthDate" [ngModelOptions]="{standalone: true}" placeholder="*">
                </div> 
                
                <div style="margin: 1em 0;">
                    <input type="radio" [(ngModel)]="registerBody.gender" [ngModelOptions]="{standalone: true}" value="m"> male
                    <input type="radio" [(ngModel)]="registerBody.gender" [ngModelOptions]="{standalone: true}" value="f" style="margin-left: 1em"> female
                </div>

                <input type="text"  [(ngModel)]="registerBody.money" [ngModelOptions]="{standalone: true}" placeholder="Enter your money">

                <input type="text"  [(ngModel)]="registerBody.email" [ngModelOptions]="{standalone: true}" placeholder="Enter your email*">
                <input type="password"  [(ngModel)]="registerBody.password" [ngModelOptions]="{standalone: true}" placeholder="Enter your password*">
                <input type="password"  [(ngModel)]="registerBody.confirm" [ngModelOptions]="{standalone: true}" placeholder="re-type your password*">
                <div class="clearfix"></div>
                <label><input type="submit" (click)="register()" value="Sign Up" class="sportsmagazine-bordercolor sportsmagazine-color"></label>
            </form>
            <p *ngIf="error" style="color: red;">{{ error }}</p>
            <p>Already have an account ? <a [routerLink]="['./']" fragment="" (click)="switchInterface('login')" class="sportsmagazine-color">Login - Now !</a></p>
        </div>
    <div class="clearfix"></div>
    </div>
</div>