<!-- SearchModal -->
<div class="searchmodal modal fade" id="searchModal" tabindex="-1" role="dialog">
    <a  [routerLink]="['./']" fragment="" data-dismiss="modal" class="close-modal sportsmagazine-login-close sportsmagazine-color"><i class="fa fa-times"></i></a>
    <div class="modal-dialog" role="document">
        <div class="container">
            <div class="row">
                <form class="sportsmagazine-search-box">
                    <input type="text" value="Search Your Keyword" [(ngModel)]="search"
                        [ngModelOptions]="{standalone: true}">
                    <input type="submit" (click)="submit()" value="">
                    <i class="fa fa-search"></i>
                </form>
            </div>
        </div>
    </div>
</div>