<!--// Footer \\-->
<footer id="sportsmagazine-footer" class="sportsmagazine-footer-one">
            
    <!--// Footer Widget \\-->
    <div class="sportsmagazine-footer-widget">
        <div class="container">
            <div class="row">
                <!--// Widget Contact Info \\-->
                <aside class="col-md-4 widget widget_contact_info">
                    <a href="index-2.html" class="footer-logo"><img src="assets/fo/images/logo.png" alt=""></a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elUt ac malesuada ante.Sed gravida, ur quis tempus sollicitudin, tellus urna</p>
                    <ul class="sportsmagazine-social-network">
                        <li><a href="https://www.facebook.com/" class="sportsmagazine-colorhover fa fa-facebook-official"></a></li>
                        <li><a href="https://twitter.com/login" class="sportsmagazine-colorhover fa fa-twitter-square"></a></li>
                        <li><a href="https://pk.linkedin.com/" class="sportsmagazine-colorhover fa fa-linkedin-square"></a></li>
                        <li><a href="https://plus.google.com/" class="sportsmagazine-colorhover fa fa-google-plus-square"></a></li>
                    </ul>
                </aside>
                <!--// Widget Contact Info \\-->
                <!--// Widget Twitter \\-->
                <aside class="col-md-4 widget widget_twitter">
                    <ul class="sportsmagazine-info-list">
                        <li><i class="fa fa-map-marker"></i> <span>9907 Salford road, east London Uk 2807</span></li>
                        <li><i class="fa fa-phone"></i> <span>(+92) 123 45 678 - 987 65 432</span></li>
                        <li><i class="fa fa-envelope"></i> <span><a href="mailto:name@email.com">bets.football@gmail.com</a></span></li>
                    </ul>
                </aside>
                <!--// Widget Twitter \\-->
                <!--// Widget Gallery \\-->
                <aside class="col-md-4 widget widget_gallery">
                    <div class="footer-widget-title"><h2>Flicker Photos</h2></div>
                    <ul>
                        <li><a data-fancybox-group="group" href="assets/fo/extra-images/widget-gallery-1.jpg" class="fancybox" style="pointer-events: none;"><img src="assets/fo/extra-images/ico-f-1.jpg" alt=""></a></li>
                        <li><a data-fancybox-group="group" href="assets/fo/extra-images/widget-gallery-1.jpg" class="fancybox" style="pointer-events: none;"><img src="assets/fo/extra-images/ico-f-2.jpg" alt=""></a></li>
                        <li><a data-fancybox-group="group" href="assets/fo/extra-images/widget-gallery-1.jpg" class="fancybox" style="pointer-events: none;"><img src="assets/fo/extra-images/ico-f-3.jpg" alt=""></a></li>
                        <li><a data-fancybox-group="group" href="assets/fo/extra-images/widget-gallery-1.jpg" class="fancybox" style="pointer-events: none;"><img src="assets/fo/extra-images/ico-f-4.jfif" alt=""></a></li>
                        <li><a data-fancybox-group="group" href="assets/fo/extra-images/widget-gallery-1.jpg" class="fancybox" style="pointer-events: none;"><img src="assets/fo/extra-images/ico-f-5.jfif" alt=""></a></li>
                        <li><a data-fancybox-group="group" href="assets/fo/extra-images/widget-gallery-1.jpg" class="fancybox" style="pointer-events: none;"><img src="assets/fo/extra-images/ico-f-6.jfif" alt=""></a></li>
                        <li><a data-fancybox-group="group" href="assets/fo/extra-images/widget-gallery-1.jpg" class="fancybox" style="pointer-events: none;"><img src="assets/fo/extra-images/ico-f-7.jpg" alt=""></a></li>
                        <li><a data-fancybox-group="group" href="assets/fo/extra-images/widget-gallery-1.jpg" class="fancybox" style="pointer-events: none;"><img src="assets/fo/extra-images/ico-f-8.jpg" alt=""></a></li>
                    </ul>
                </aside>
                <!--// Widget Gallery \\-->

            </div>
        </div>
        <a href="#" class="sportsmagazine-back-top"><i class="fa fa-angle-up"></i></a>
    </div>
    <!--// Footer Widget \\-->

    <!--// CopyRight \\-->
    <div class="sportsmagazine-copyright">
        <div class="container">
            <div class="row">
                <aside class="col-md-6 sportsmagazine-copyright-left"><p>© 2021, All Right Reserved - by <a href="index-2.html">EyeCix</a></p></aside>
                <aside class="col-md-6 sportsmagazine-copyright-right">
                    <ul class="sportsmagazine-copyright-link">
                        <li><a href="/" class="sportsmagazine-colorhover">Terms And Condition</a></li>
                        <li><a href="/" class="sportsmagazine-colorhover">Privacy Policy</a></li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>
    <!--// CopyRight \\-->

</footer>
<!--// Footer \\-->