<app-breadcomb-area [title]="'News'" [description]="'Home news'"></app-breadcomb-area>

<div class="container">
    <div class="row" *ngIf="!formView">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="normal-table-list">
                <div class="basic-tb-hd" style="display: flex; justify-content: space-between;">
                    <h2>News</h2>
                    <button mat-mini-fab (click)="formView = !formView">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <div class="bsc-tbl">
                    <table class="table table-sc-ex">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Date</th>
                                <th>Image</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of news; let i = index">
                                <td>{{ i+1 }}</td>
                                <td>{{ item.title }}</td>
                                <td style="max-width: 20vw;">{{ item.description }}</td>
                                <td>{{ item.date | date }}</td>
                                <td>
                                    <img [src]="item.image" alt="news" style="width: 5em; height: 5em; object-fit: cover;">
                                </td>
                                <td style="padding-top: 0;">
                                    <button mat-mini-fab style="transform: scale(0.7);" (click)="selectItem(item)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-mini-fab style="transform: scale(0.7);" (click)="warningDialog(item)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="formView">
        <app-news-form [data]="selectedItem" (formEvent)="receiveFormEvent($event)"></app-news-form>
    </div>
</div>