<!-- LoginModal -->
<div class="loginmodal modal fade" id="loginModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="sportsmagazine-login-box">
            <a  [routerLink]="['./']" fragment="" data-dismiss="modal" class="close-modal sportsmagazine-login-close sportsmagazine-color"><i class="fa fa-times"></i></a>
            <h4>Login To Your Account</h4>
            <form>
                <input type="text" [(ngModel)]="loginBody.email" [ngModelOptions]="{standalone: true}" placeholder="Enter your email">
                <input type="password" [(ngModel)]="loginBody.password" [ngModelOptions]="{standalone: true}" placeholder="Enter your password">
                <a href="#" [routerLink]="['./']" fragment="" (click)="switchInterface('forget')" class="sportsmagazine-colorhover">Forget Password?</a>
                <div class="clearfix"></div>
                <label><input type="submit" (click)="login()" value="Sign In" class="sportsmagazine-bordercolor sportsmagazine-color"></label>
            </form>
            <p *ngIf="error" style="color: red;">{{ error }}</p>
            <p>Not A Member Yet ? <a [routerLink]="['./']" fragment="" (click)="switchInterface('signup')" class="sportsmagazine-color">Sign - Up Now !</a></p>
        </div>
    <div class="clearfix"></div>
    </div>
    <app-loader *ngIf="loading"></app-loader>
</div>