<div class="swal2-modal show-swal2"
    style="display: block; width: 500px; padding: 20px; background: rgb(255, 255, 255); min-height: 281px;"
    tabindex="-1">
    <ul class="swal2-progresssteps" style="display: none;"></ul>
    <div class="swal2-icon swal2-error" style="display: none;"><span class="x-mark"><span class="line left"></span><span
                class="line right"></span></span></div>
    <div class="swal2-icon swal2-question" style="display: none;">?</div>
    <div class="swal2-icon swal2-warning pulse-warning" style="display: block;">!</div>
    <div class="swal2-icon swal2-info" style="display: none;">i</div>
    <div class="swal2-icon swal2-success" style="display: none;"><span class="line tip"></span> <span
            class="line long"></span>
        <div class="placeholder"></div>
        <div class="fix"></div>
    </div><img class="swal2-image" style="display: none;">
    <h2>Are you sure?</h2>
    <div class="swal2-content" style="display: block;">You will not be able to recover this imaginary file!</div><input
        style="display: none;" class="swal2-input"><input type="file" style="display: none;" class="swal2-file">
    <div class="swal2-range" style="display: none;"><output></output><input type="range"></div><select
        style="display: none;" class="swal2-select"></select>
    <div class="swal2-radio" style="display: none;"></div><label for="swal2-checkbox" class="swal2-checkbox"
        style="display: none;"><input type="checkbox"></label><textarea style="display: none;"
        class="swal2-textarea"></textarea>
    <div class="swal2-validationerror" style="display: none;"></div>
    <hr class="swal2-spacer" style="display: block;"><button type="button" class="swal2-confirm styled"
        style="background-color: rgb(48, 133, 214); border-left-color: rgb(48, 133, 214); border-right-color: rgb(48, 133, 214);">Yes,
        delete it!</button><button type="button" class="swal2-cancel styled"
        style="display: inline-block; background-color: rgb(170, 170, 170);">Cancel</button><span class="swal2-close"
        style="display: none;">×</span>
</div>