.bet-loss {
    background-color: #f92552;
    font-size: 12px;
    color: #292c31;
    padding: 10px 29px;
    border-radius: 3px;
}

.bet-win {
    background-color: #00e038;
    font-size: 12px;
    color: #292c31;
    padding: 10px 29px;
    border-radius: 3px;
}