<div class="sportsmagazine-main-wrapper">

    <app-front-header></app-front-header>

    <!--// SubHeader \\-->
    <div class="sportsmagazine-subheader">
        <span class="subheader-transparent"></span>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>HISTORY</h1>
                </div>
            </div>
        </div>
    </div>
    <!--// SubHeader \\-->

    <!--// Main Content \\-->
    <div class="sportsmagazine-main-content">

        <!--// Main Section \\-->
        <div class="sportsmagazine-main-section sportsmagazine-fullstanding-full">
            <div class="container">
                <div class="row">
                    
                    <div class="col-md-12">
                        <div class="sportsmagazine-playoff-staning">
                            <h4>Your bet history</h4>
                            <table class="sportsmagazine-client-detail">
                                <tr>
                                    <th>#</th>
                                    <th>Your team</th>
                                    <th>Quote</th>
                                    <th>Other Team</th>
                                    <th>Quote</th>
                                    <th>Match Result</th>
                                    <th>Your bet</th>
                                    <th>Bet Result</th>
                                </tr>
                                <tr>
                                    <td>01</td>
                                    <td>
                                        <figure><img src="assets/fo/extra-images/player-stats-img1.jpg" alt=""></figure>
                                        <div style="margin-top: 10%;" class="player-stats-text">
                                            <h6>Team 1</h6>
                                        </div>
                                    </td>
                                    <td>x2</td>
                                    <td>
                                        <figure><img src="assets/fo/extra-images/player-stats-img2.jpg" alt=""></figure>
                                        <div style="margin-top: 10%;" class="player-stats-text">
                                            <h6>Team 2</h6>
                                        </div>
                                    </td>
                                    <td>x1</td>
                                    <td>120 - 100</td>
                                    <td>500</td>
                                    <td><h6 class="bet-win">Win: 500</h6></td>
                                </tr>

                                <tr>
                                    <td>02</td>
                                    <td>
                                        <figure><img src="assets/fo/extra-images/player-stats-img1.jpg" alt=""></figure>
                                        <div style="margin-top: 10%;" class="player-stats-text">
                                            <h6>Team 1</h6>
                                        </div>
                                    </td>
                                    <td>x2</td>
                                    <td>
                                        <figure><img src="assets/fo/extra-images/player-stats-img2.jpg" alt=""></figure>
                                        <div style="margin-top: 10%;" class="player-stats-text">
                                            <h6>Team 2</h6>
                                        </div>
                                    </td>
                                    <td>x1</td>
                                    <td>120 - 100</td>
                                    <td>500</td>
                                    <td><h6 class="bet-loss">Loss: 500</h6></td>
                                </tr>
                            </table>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!--// Main Section \\-->

    </div>
    <!--// Main Content \\-->

    <app-front-footer></app-front-footer>
    <div class="clearfix"></div>
</div>


<app-search-modal></app-search-modal>

<app-login-modal></app-login-modal>

<app-register-modal></app-register-modal>

<app-bet-modal></app-bet-modal>