<div class="sportsmagazine-main-wrapper">

    <app-front-header></app-front-header>

    <!--// SubHeader \\-->
    <div class="sportsmagazine-subheader">
        <span class="subheader-transparent"></span>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>HISTORY</h1>
                </div>
            </div>
        </div>
    </div>
    <!--// SubHeader \\-->

    <!--// Main Content \\-->
    <div class="sportsmagazine-main-content">

        <!--// Main Section \\-->
        <div class="sportsmagazine-main-section sportsmagazine-fullstanding-full">
            <div class="container">
                <div class="row">
                    
                    <div class="col-md-12">
                        <div class="sportsmagazine-playoff-staning">
                            <h4>Your bet history</h4>
                            <table class="sportsmagazine-client-detail">
                                <tr>
                                    <th>#</th>
                                    <th>Team 1</th>
                                    <th>Quote</th>
                                    <th>Team 2</th>
                                    <th>Quote</th>
                                    <th>Quote draw</th>
                                    <th>Match Result</th>
                                    <th>Your bet</th>
                                    <th>Bet Result</th>
                                </tr>
                                <tr *ngFor="let item of history; let i = index;">
                                    <td>{{ i+1 }}</td>
                                    <td>
                                        <figure><img [src]="item.LOGO1" alt=""></figure>
                                        <div style="margin-top: 10%;" class="player-stats-text">
                                            <h6>{{ item.T1 }} <span *ngIf="item.IDT1 == item.ID_TEAM">(your team)</span></h6>
                                        </div>
                                    </td>
                                    <td>x{{ item.ODDS_HOME }}</td>
                                    <td>
                                        <figure><img [src]="item.LOGO2" alt=""></figure>
                                        <div style="margin-top: 10%;" class="player-stats-text">
                                            <h6>{{ item.T2 }} <span *ngIf="item.IDT2 == item.ID_TEAM">(your team)</span></h6>
                                        </div>
                                    </td>
                                    <td>x{{ item.ODDS_AWAY }}</td>
                                    <td>x{{ item.ODDS_DRAW }}</td>
                                    <td>{{ item.SCORE }}</td>
                                    <td>{{ item.BET }}</td>
                                    <td *ngIf="!item.SCORE"><h6 class="bet-win" style="background-color: #ffeb3b;">waiting for results</h6></td>
                                    <td *ngIf="item.SCORE && item.TOTAL >= 0"><h6 class="bet-win">Win: {{ item.TOTAL.toFixed(2) }}$</h6></td>
                                    <td *ngIf="item.SCORE && item.TOTAL < 0"><h6 class="bet-loss">Loss: {{ item.TOTAL.toFixed(2) }}$</h6></td>
                                </tr>
                            </table>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!--// Main Section \\-->

    </div>
    <!--// Main Content \\-->

    <app-front-footer></app-front-footer>
    <div class="clearfix"></div>
</div>


<app-search-modal></app-search-modal>

<app-login-modal></app-login-modal>

<app-register-modal></app-register-modal>

<app-bet-modal></app-bet-modal>

<app-forget-modal></app-forget-modal>

<app-reset-modal></app-reset-modal>

<app-user-profil-modal></app-user-profil-modal>

<app-buy-token></app-buy-token>

<app-loader *ngIf="loading"></app-loader>