<app-breadcomb-area [title]="'Settings'" [description]="'Gambling rules'"></app-breadcomb-area>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="invoice-wrap">
                <div class="invoice-img">
                    <div class="form-example-wrap mg-t-30">
                        <div class="cmp-tb-hd cmp-int-hd">
                            <h2>Config Token</h2>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="nk-int-st" style="display: flex; justify-content: center; gap: 2em;">
                                    <input type="number" class="form-control input-sm" placeholder="Enter Token Value"
                                        style="width: 50%;">
                                    <button class="btn btn-success notika-btn-success waves-effect">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 5em;">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="invoice-hs">
                            <span>Invoice#</span>
                            <h2>456656</h2>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="invoice-hs date-inv sm-res-mg-t-30 tb-res-mg-t-30 tb-res-mg-t-0">
                            <span>Date</span>
                            <h2>20/03/2018</h2>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="invoice-hs wt-inv sm-res-mg-t-30 tb-res-mg-t-30 tb-res-mg-t-0">
                            <span>Whatever</span>
                            <h2>472-000</h2>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="invoice-hs gdt-inv sm-res-mg-t-30 tb-res-mg-t-30 tb-res-mg-t-0">
                            <span>Grand Total</span>
                            <h2>$25,980</h2>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row" style="margin-top: 5em;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="invoice-ds-int">
                            <h2>Remarks</h2>
                            <p>Ornare non tortor. Nam quis ipsum vitae dolor porttitor interdum. Curabitur faucibus erat
                                vel
                                ante fermentum lacinia. Integer porttitor laoreet suscipit. Sed cursus cursus massa ut
                                pellentesque. Phasellus vehicula dictum arcu, eu interdum massa bibendum. Ornare non
                                tortor.
                                Nam quis ipsum vitae dolor porttitor interdum. Curabitur faucibus erat vel ante
                                fermentum
                                lacinia. Integer porttitor laoreet suscipit. Sed cursus cursus massa ut pellentesque.
                                Phasellus vehicula dictum arcu, eu interdum massa bibendum. </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>