<app-breadcomb-area [title]="'Bets'" [description]="'Users bets'"></app-breadcomb-area>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="invoice-wrap">

                <ul class="collapse-list">
                    <input class="collapse-open" type="checkbox" id="collapse-1">
                    <label class="collapse-btn" for="collapse-1">Settings</label>
                    <div class="collapse-painel">
                        <div class="collapse-inner">
                            <div class="invoice-img">
                                <div class="form-example-wrap mg-t-30">
                                    <div class="cmp-tb-hd cmp-int-hd">
                                        <h2>Config Token</h2>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="nk-int-st"
                                                style="display: flex; justify-content: center; gap: 2em;">
                                                <label for="">1 token = </label>
                                                <input type="number" class="form-control input-sm"
                                                    [(ngModel)]="config.tokenValue"
                                                    [ngModelOptions]="{standalone: true}"
                                                    placeholder="Enter Token Value" style="width: 15%;
                                                        text-align: en">$
                                                <button class="btn btn-success notika-btn-success waves-effect"
                                                    (click)="submit()">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 1em;">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <div class="invoice-hs">
                                        <span>Invoice#</span>
                                        <h2>456656</h2>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <div class="invoice-hs date-inv sm-res-mg-t-30 tb-res-mg-t-30 tb-res-mg-t-0">
                                        <span>Date</span>
                                        <h2>20/03/2018</h2>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <div class="invoice-hs wt-inv sm-res-mg-t-30 tb-res-mg-t-30 tb-res-mg-t-0">
                                        <span>Whatever</span>
                                        <h2>472-000</h2>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <div class="invoice-hs gdt-inv sm-res-mg-t-30 tb-res-mg-t-30 tb-res-mg-t-0">
                                        <span>Grand Total</span>
                                        <h2>$25,980</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ul>

                <div class="row" style="margin-top: 1em;">
                    <div class="normal-table-list">
                        <div class="basic-tb-hd" style="display: flex; justify-content: space-between;">
                            <h2>Bets</h2>
                        </div>
                        <div class="bsc-tbl">
                            <table class="table table-sc-ex">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Gambler</th>
                                        <th>Bet</th>
                                        <th>Game</th>
                                        <th>Profit</th>
                                        <th>Created Date</th>
                                        <th>Last Update Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Alexandra Christopher</td>
                                        <td>12</td>
                                        <td>Miami Heat vs Dallas Mavericks</td>
                                        <td>-12</td>
                                        <td>25 April 2021</td>
                                        <td>1 May 2021</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>