<router-outlet></router-outlet>
<script type="text/javascript" src="/assets/fo/script/jquery.js"></script>
<script type="text/javascript" src="/assets/fo/script/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/fo/script/slick.slider.min.js"></script>
<script type="text/javascript" src="/assets/fo/script/jquery.countdown.min.js"></script>
<script type="text/javascript" src="/assets/fo/script/fancybox.pack.js"></script>
<script type="text/javascript" src="/assets/fo/script/isotope.min.js"></script>
<script type="text/javascript" src="/assets/fo/script/progressbar.js"></script>
<script type="text/javascript" src="/assets/fo/script/counter.js"></script>
<script type="text/javascript" src="/assets/fo/script/functions.js"></script>