<!-- LoginModal -->
<div class="loginmodal modal fade" id="resetModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="sportsmagazine-login-box">
            <a  [routerLink]="['./']" fragment="" data-dismiss="modal" class="close-modal sportsmagazine-login-close sportsmagazine-color"><i class="fa fa-times"></i></a>
            <h4>Reset Your Password</h4>
            <form>
                <input type="password" placeholder="new password" value="Password*" onblur="if(this.value == '') { this.value ='Password*'; }" onfocus="if(this.value =='Password*') { this.value = ''; }">
                <input type="password" placeholder="confirm password" value="Password*" onblur="if(this.value == '') { this.value ='Password*'; }" onfocus="if(this.value =='Password*') { this.value = ''; }">
                <div class="clearfix"></div>
                <label><input type="submit" value="Reset" class="sportsmagazine-bordercolor sportsmagazine-color"></label>
            </form>
            <p><a [routerLink]="['./']" fragment="" (click)="switchInterface('login')" class="sportsmagazine-color">Sign in</a></p>
        </div>
    <div class="clearfix"></div>
    </div>
</div>