<div class="form-example-wrap mg-t-30">

    <div class="form-example-int form-horizental">
        <div class="form-group">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                    <label class="hrzn-fm">Name</label>
                </div>
                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                    <div class="nk-int-st">
                        <input type="text" class="form-control input-sm" [(ngModel)]="formData.name"
                            [ngModelOptions]="{standalone: true}" placeholder="Enter Your Name">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-example-int form-horizental">
        <div class="form-group">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                    <label class="hrzn-fm">Email</label>
                </div>
                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                    <div class="nk-int-st">
                        <input type="text" class="form-control input-sm" [(ngModel)]="formData.email"
                            [ngModelOptions]="{standalone: true}" placeholder="Enter Your Email">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-example-int form-horizental" style="visibility: hidden;">
        <div class="form-group">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                    <label class="hrzn-fm">Money</label>
                </div>
                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                    <div class="nk-int-st">
                        <input type="text" class="form-control input-sm" [(ngModel)]="formData.money"
                            pattern="^-?(?:0|[1-9]\d{0,2}(?:,?\d{3})*)(?:\.\d+)?" [ngModelOptions]="{standalone: true}"
                            placeholder="Enter Your Money">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-example-int form-horizental">
        <div class="form-group">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                    <label class="hrzn-fm">Birth Date</label>
                </div>
                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                    <div class="nk-int-st">
                        <input type="date" class="form-control input-sm"
                            [ngModel]="formData.birthDate | date:'yyyy-MM-dd'"
                            (ngModelChange)="formData.birthDate=$event" [ngModelOptions]="{standalone: true}"
                            placeholder="Enter Your Birth Date">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-example-int form-horizental mg-t-15">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
            </div>
            <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                <input type="radio" [(ngModel)]="formData.gender" [ngModelOptions]="{standalone: true}" [value]="'m'">
                Male
                <input type="radio" [(ngModel)]="formData.gender" [ngModelOptions]="{standalone: true}" [value]="'f'"
                    style="margin-left: 1em;"> Female
            </div>
        </div>
    </div>

    <div class="dropdone-nk mg-t-30">
        <div class="cmp-tb-hd">
            <h2>Image</h2>
        </div>
        <img [src]="formData.image" (click)="changeImage()" alt=""
            style="cursor: pointer;width: 20em; max-height: 30em;">
        <input type="file" style="display: none" id="imageInput" (change)="onSelectFile($event)">
        <div id="dropzone1" class="multi-uploader-cs" (click)="changeImage()" *ngIf="!formData.image">
            <div action="/upload" class="dropzone dropzone-nk needsclick dz-clickable" style="cursor: pointer;">
                <div class="dz-message needsclick download-custom"
                    style="height: 10em;display: flex; justify-content: center; align-items: center;">
                    <i class="notika-icon notika-cloud" style="margin-right: 1em;"></i>
                    <h2>Click to upload.</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="form-example-int mg-t-15">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
            </div>
            <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                <button class="btn btn-default notika-btn-default waves-effect" (click)="cancel()"
                    style="margin-right: 2em;">Cancel</button>
                <button class="btn btn-success notika-btn-success waves-effect" (click)="submit()">Submit</button>
            </div>
        </div>
    </div>
</div>