<div class="form-example-wrap mg-t-30">
    <div class="cmp-tb-hd cmp-int-hd">
        <h2>Add User</h2>
    </div>
    
    <div class="form-example-int form-horizental">
        <div class="form-group">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                    <label class="hrzn-fm">Name</label>
                </div>
                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                    <div class="nk-int-st">
                        <input type="text" class="form-control input-sm" placeholder="Enter Your Name">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="form-example-int form-horizental">
        <div class="form-group">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                    <label class="hrzn-fm">Username</label>
                </div>
                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                    <div class="nk-int-st">
                        <input type="text" class="form-control input-sm" placeholder="Enter Your Username">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="form-example-int form-horizental">
        <div class="form-group">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                    <label class="hrzn-fm">Location</label>
                </div>
                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                    <div class="nk-int-st">
                        <input type="text" class="form-control input-sm" placeholder="Enter Your Location">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-example-int form-horizental">
        <div class="form-group">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                    <label class="hrzn-fm">Birth Date</label>
                </div>
                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                    <div class="nk-int-st">
                        <input type="date" class="form-control input-sm" placeholder="Enter Your Birth Date">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-example-int form-horizental mg-t-15">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
            </div>
            <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                <div class="fm-checkbox">
                    <label class="">
                        <div class="iradio_square-green checked" style="position: relative;"><input type="radio"
                                checked="" class="i-checks" style="position: absolute; opacity: 0;"><ins
                                class="iCheck-helper"
                                style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                        </div>
                        <i></i> Male
                        <div class="iradio_square-green" style="position: relative; margin-left: 1em;">
                            <input type="radio" checked="" class="i-checks" style="position: absolute; opacity: 0;">
                            <ins class="iCheck-helper"
                                style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                            </ins>
                        </div>
                        <i></i> Female
                    </label>
                </div>
            </div>
        </div>
    </div>
    
    <div class="dropdone-nk mg-t-30">
        <div class="cmp-tb-hd">
            <h2>Image</h2>
            <p>DropzoneJS is an open source library that provides Drag and Drop file uploads with image previews.</p>
        </div>
        <div id="dropzone1" class="multi-uploader-cs">
            <form action="/upload" class="dropzone dropzone-nk needsclick dz-clickable" id="demo1-upload">
                <div class="dz-message needsclick download-custom"
                    style="height: 10em;display: flex; justify-content: center; align-items: center;">
                    <i class="notika-icon notika-cloud" style="margin-right: 1em;"></i>
                    <h2>Drop files here or click to upload.</h2>
                </div>
            </form>
        </div>
    </div>
    
    <div class="form-example-int mg-t-15">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
            </div>
            <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                <button class="btn btn-default notika-btn-default waves-effect"
                    style="margin-right: 2em;">Cancel</button>
                <button class="btn btn-success notika-btn-success waves-effect">Submit</button>
            </div>
        </div>
    </div>
</div>