<div class="form-example-wrap mg-t-30">
    
    <div class="row">
        <div class="col-lg-6">
            <div class="form-example-int form-horizental">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                            <label class="hrzn-fm">Home</label>
                        </div>
                        <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                            <div class="nk-int-st">

                                <select [(ngModel)]="formData.home.id" [ngModelOptions]="{standalone: true}">
                                    <option [value]="item.id" *ngFor="let item of teams">{{ item.name }}</option>
                                </select>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="form-example-int form-horizental">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                            <label class="hrzn-fm"> Odds</label>
                        </div>
                        <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                            <div class="nk-int-st">
                                <input type="number" class="form-control input-sm" [(ngModel)]="formData.oddsHome"
                                [ngModelOptions]="{standalone: true}" placeholder="Enter Odds">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-6">
            <div class="form-example-int form-horizental">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                            <label class="hrzn-fm">Away</label>
                        </div>
                        <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                            <div class="nk-int-st">
                                <select [(ngModel)]="formData.away.id" [ngModelOptions]="{standalone: true}">
                                    <option [value]="item.id" *ngFor="let item of teams">{{ item.name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="form-example-int form-horizental">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                            <label class="hrzn-fm"> Odds</label>
                        </div>
                        <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                            <div class="nk-int-st">
                                <input type="number" class="form-control input-sm" [(ngModel)]="formData.oddsAway"
                                [ngModelOptions]="{standalone: true}"placeholder="Enter Odds">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <br>
    <div class="form-example-int form-horizental">
        <div class="form-group">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                    <label class="hrzn-fm">Odds Draw</label>
                </div>
                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                    <div class="nk-int-st">
                        <input type="text" class="form-control input-sm" [(ngModel)]="formData.oddsDraw"
                        [ngModelOptions]="{standalone: true}" placeholder="Enter Odds">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="form-example-int form-horizental">
        <div class="form-group">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                    <label class="hrzn-fm">Date</label>
                </div>
                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                    <div class="nk-int-st">
                        <input type="datetime-local" class="form-control input-sm" [ngModel]="formData.date | date:'yyyy-MM-ddTHH:mm'"
                        (ngModelChange)="formData.date=$event"
                        [ngModelOptions]="{standalone: true}" placeholder="Enter a Date">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <br>
    <div class="form-example-int form-horizental">
        <div class="form-group">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                    <label class="hrzn-fm">Stadium</label>
                </div>
                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                    <div class="nk-int-st">
                        <input type="text" class="form-control input-sm" [(ngModel)]="formData.stadium"
                        [ngModelOptions]="{standalone: true}" placeholder="Enter A Name">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="form-example-int form-horizental">
        <div class="form-group">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                    <label class="hrzn-fm">City</label>
                </div>
                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                    <div class="nk-int-st">
                        <input type="text" class="form-control input-sm" [(ngModel)]="formData.city"
                        [ngModelOptions]="{standalone: true}" placeholder="Enter A City">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="form-example-int mg-t-15">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
            </div>
            <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                <button class="btn btn-default notika-btn-default waves-effect" (click)="cancel()"
                    style="margin-right: 2em;">Cancel</button>
                <button class="btn btn-success notika-btn-success waves-effect" (click)="submit()">Submit</button>
            </div>
        </div>
    </div>
</div>