<div class="sportsmagazine-main-wrapper">
    <app-front-header></app-front-header>

    <!--// Main Content \\-->
    <div class="sportsmagazine-main-content">

        <!--// Main Section \\-->
        <div class="sportsmagazine-main-section">
            <div class="container">
                <div class="row">

                    <div class="col-md-8">
                        <div class="sportsmagazine-blog sportsmagazine-bloglarge">
                            <ul class="row">
                                <li class="col-md-12" *ngFor="let item of news">
                                    <figure><img [src]="item.image" alt=""></figure>
                                    <div class="sportsmagazine-bloglarge-text">
                                        <time datetime="2008-02-14 20:00">{{ item.date | date }}</time>
                                        <h3>{{ item.title }}</h3>
                                        <p>{{ item.description }}</p>
                                        
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!--// SideBaar \\-->
                    <aside class="col-md-4">

                        <!--// Widget Upcoming Matches \\-->
                        <div class="sportsmagazine-fancy-title"><h2>Upcoming matches</h2></div>
                        <div class="widget widget_matches">
                            <ul>
                                <li *ngFor="let item of upcoming; let i = index;">
                                    <div class="sportsmagazine-team-one">
                                        <h6><a href="fixture-detail.html" style="pointer-events: none;">{{ item.NAME1 }}</a></h6>
                                        <span>{{ item.ODDS_HOME }}</span>
                                    </div>
                                    <span>VS</span>
                                    <div class="sportsmagazine-team-two">
                                        <h6><a href="fixture-detail.html" style="pointer-events: none;">{{ item.NAME2 }}</a></h6>
                                        <span>{{ item.ODDS_AWAY }}</span>
                                    </div>
                                    <a *ngIf="loggedUser" role="button" data-toggle="modal" data-target="#betModal" (click)="selectMatch(item.ID)" class="ticket-buy-btn" style="margin-top: 0">Bet</a>
                                </li>
                            </ul>
                        </div>
                        <!--// Widget Upcoming Matches \\-->
                        
                        <!--// Widget TeamRanking \\-->
                        <div class="widget widget_team_ranking">
                            <div class="sportsmagazine-fancy-title"><h2>Team Rankings</h2></div>
                            <div class="ranking-title-table">
                                <ul class="ranking-title-row">
                                    <li>Team Rank</li>
                                    <li>M</li>
                                    <li>W</li>
                                    <li>PTS</li>
                                </ul>
                            </div>
                            <div class="ranking-content-table" *ngFor="let item of teamsRanking; let i = index;">
                                <ul class="ranking-content-row">
                                    <li>{{ i+1 }}</li>
                                    <li> <img [src]="item.LOGO" alt=""> <div class="ranking-logo"><span>{{ item.NAME }}</span></div> </li>
                                    <li>{{ item.MATCHES }}</li>
                                    <li>{{ item.WINS }}</li>
                                    <li>{{ item.WINS*3 }}</li>
                                </ul>
                            </div>
                        </div>
                        <!--// Widget TeamRanking \\-->

                    </aside>
                    <!--// SideBaar \\-->

                </div>
            </div>
        </div>
        <!--// Main Section \\-->

    </div>
    <!--// Main Content \\-->

    <app-front-footer></app-front-footer>
    <div class="clearfix"></div>
</div>

<app-search-modal></app-search-modal>

<app-login-modal></app-login-modal>

<app-register-modal></app-register-modal>

<app-forget-modal></app-forget-modal>

<app-reset-modal></app-reset-modal>

<app-user-profil-modal></app-user-profil-modal>

<app-bet-modal [match]="selectedMatch"></app-bet-modal>