<app-breadcomb-area [title]="'Dashboard'" [description]="'Statistics and charts'"></app-breadcomb-area>

<div class="container">

    <div style="display: flex; justify-content: space-between;">
        <app-card-dashboard></app-card-dashboard>
        <app-card-dashboard></app-card-dashboard>
        <app-card-dashboard></app-card-dashboard>
        <app-card-dashboard></app-card-dashboard>
    </div>

    <br>
    <div style="display: flex; justify-content: space-between;">
        <app-area-chart></app-area-chart>
        <app-radar-chart></app-radar-chart>
    </div>

    <br>
    <app-line-chart></app-line-chart>

    <br>
    <div style="display: flex; justify-content: space-between;">
        <div class="search-engine-int sm-res-mg-t-30 tb-res-mg-t-30 tb-res-ds-n dk-res-ds">
            <div class="contact-hd search-hd-eg">
                <h2>Site Performance</h2>
                <p>Fusce eget dolor id justo luctus commodo vel pharetra nisi. Donec velit libero</p>
            </div>
            <div class="search-eg-table">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Work Flow</th>
                            <th class="text-right">Counter</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>External Backlinks</td>
                            <td class="text-right">
                                <h4>54,302</h4>
                            </td>
                        </tr>
                        <tr>
                            <td>Page Speed Score</td>
                            <td class="text-right">
                                <h4>87</h4>
                            </td>
                        </tr>
                        <tr>
                            <td>Citation Flow</td>
                            <td class="text-right">
                                <h4>987</h4>
                            </td>
                        </tr>
                        <tr>
                            <td>Mozrank</td>
                            <td class="text-right">
                                <h4>9.43</h4>
                            </td>
                        </tr>
                        <tr>
                            <td>Domain Authority</td>
                            <td class="text-right">
                                <h4>455</h4>
                            </td>
                        </tr>
                        <tr>
                            <td class="analysis-rd-mg">Alexa Rank</td>
                            <td class="text-right analysis-rd-mg">
                                <h4>342,234</h4>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="search-engine-int sm-res-mg-t-30 tb-res-mg-t-30 tb-res-ds-n dk-res-ds">
            <div class="contact-hd search-hd-eg">
                <h2>Site Performance</h2>
                <p>Fusce eget dolor id justo luctus commodo vel pharetra nisi. Donec velit libero</p>
            </div>
            <div class="search-eg-table">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Work Flow</th>
                            <th class="text-right">Counter</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>External Backlinks</td>
                            <td class="text-right">
                                <h4>54,302</h4>
                            </td>
                        </tr>
                        <tr>
                            <td>Page Speed Score</td>
                            <td class="text-right">
                                <h4>87</h4>
                            </td>
                        </tr>
                        <tr>
                            <td>Citation Flow</td>
                            <td class="text-right">
                                <h4>987</h4>
                            </td>
                        </tr>
                        <tr>
                            <td>Mozrank</td>
                            <td class="text-right">
                                <h4>9.43</h4>
                            </td>
                        </tr>
                        <tr>
                            <td>Domain Authority</td>
                            <td class="text-right">
                                <h4>455</h4>
                            </td>
                        </tr>
                        <tr>
                            <td class="analysis-rd-mg">Alexa Rank</td>
                            <td class="text-right analysis-rd-mg">
                                <h4>342,234</h4>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>