<app-breadcomb-area [title]="'Google Maps'" [description]="'Most active region [North Jeffereystad]'"></app-breadcomb-area>

<div class="container">
    <div class="google-map-single">
        <div id="map2"></div>
    </div>
</div>

<br>
<br>
<br>
<app-breadcomb-area [title]="'Analitics'" [description]="'Statistics and charts'"></app-breadcomb-area>

<div class="container">
    <app-line-chart *ngIf="gamblersByGender" [data]="gamblersByGender"></app-line-chart>

    <br>
    <div style="display: flex; justify-content: space-between;">
        <div class="search-engine-int sm-res-mg-t-30 tb-res-mg-t-30 tb-res-ds-n dk-res-ds" style="width: 50%;">
            <div class="contact-hd search-hd-eg">
                <h2>Richest Gamblers</h2>
            </div>
            <div class="search-eg-table">
                <table class="table">
                    <thead class="theader">
                        <tr>
                            <th>User</th>
                            <th class="text-right">Money</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of richestGamblers; let i = index;">
                            <td>{{ item.name }}</td>
                            <td class="text-right">
                                <h4>{{ item.money.toFixed(2) }}$</h4>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="search-engine-int sm-res-mg-t-30 tb-res-mg-t-30 tb-res-ds-n dk-res-ds" style="width: 50%;">
            <div class="contact-hd search-hd-eg">
                <h2>Profit per user</h2>
            </div>
            <div class="search-eg-table">
                <table class="table">
                    <thead class="theader">
                        <tr>
                            <th>User</th>
                            <th class="text-right">Profit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of profitPerUser; let i = index;">
                            <td>{{ item.USERNAME }}</td>
                            <td class="text-right">
                                <h4>{{ item.TOTAL_MONEY.toFixed(2) }}$</h4>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<app-loader *ngIf="loading"></app-loader>