<app-breadcomb-area [title]="'Users'" [description]="'Active users'"></app-breadcomb-area>

<div class="container">
    <div class="row" *ngIf="!formView">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="normal-table-list">
                <div class="basic-tb-hd" style="display: flex; justify-content: space-between;">
                    <h2>Users</h2>
                    <input type="text" [(ngModel)]="term" placeholder="search 🔎">
                    <button mat-mini-fab (click)="formView = !formView">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <div class="bsc-tbl">
                    <table class="table table-sc-ex">
                        <thead class="theader">
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Birth Date</th>
                                <th>Gender</th>
                                <th>Money ($)</th>
                                <th>Tokens</th>
                                <th>Image</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users | filter:term | paginate: { itemsPerPage: 10, currentPage: p }; let i = index;">
                                <td>{{ ((p-1)*10)+i+1 }}</td>
                                <td>{{ user.name }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.birthDate | date }}</td>
                                <td>{{ user.gender=='m' ? '♂️' : '♀' }}</td>
                                <td>{{ user.money }}</td>
                                <td>{{ user.tokens }}</td>
                                <td>
                                    <img [src]="user.image || 'assets/image/notexist.jpg'" alt="profil"
                                        style="width: 5em; height: 5em; object-fit: cover;">
                                </td>
                                <td style="padding-top: 0;">
                                    <button mat-mini-fab style="transform: scale(0.7);" (click)="selectItem(user)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-mini-fab style="transform: scale(0.7);" (click)="warningDialog(user)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="formView">
        <app-users-form [data]="selectedItem" (formEvent)="receiveFormEvent($event)"></app-users-form>
    </div>
</div>

<app-loader *ngIf="loading"></app-loader>