<!-- BetModal -->
<div class="loginmodal modal fade" id="betModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="sportsmagazine-modren-fixture-wrap">
            <div class="sportsmagazine-modren-fixture-text">
                <div class="sportsmagazine-modren-team-one" style="width: 40%;">
                    <figure><img [src]="match?.LOGO1" alt=""></figure>
                    <section>
                        <h6>{{ match?.NAME1 }}</h6>
                        <span style="font-size: xx-large; margin-top: 10%;">x{{ match?.ODDS_HOME }}</span>
                    </section>
                    <span></span>
                </div>
                <div class="sportsmagazine-modren-match-text" style="margin-top: 17.5%; margin-left: 1.3%;">
                    <span>VS</span>
                </div>
                <div class="sportsmagazine-modren-team-two" style="width: 40%;">
                    <figure><img [src]="match?.LOGO2" alt=""></figure>
                    <section>
                        <h6>{{ match?.NAME2 }}</h6>
                        <span style="font-size: xx-large; margin-top: 10%;">x{{ match?.ODDS_AWAY }}</span>
                    </section>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="sportsmagazine-login-box">
            <h4 style="text-align: center;">Bet for your team here</h4>
            <form>
                <select style="margin-bottom: 5%; border: aliceblue;" [(ngModel)]="form.id_team"
                    [ngModelOptions]="{standalone: true}">
                    <option [value]="match?.ID1">{{ match?.NAME1 }}</option>
                    <option [value]="match?.ID2">{{ match?.NAME2 }}</option>
                </select>
                <input type="number" [(ngModel)]="form.bet" [ngModelOptions]="{standalone: true}"
                    placeholder="Enter amount">
                <div class="clearfix"></div>
                <input (click)="submit()" type="submit" value="Bet"
                    class="sportsmagazine-bordercolor sportsmagazine-color" style="margin-left: 40%;">
                <app-loader *ngIf="loading"></app-loader>
            </form>
            <br>
            <p>{{ error }}</p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>